/* ----------------------------------------------------------------
                    HEADER
---------------------------------------------------------------- */
/* ----------------------------------------------------------------
                    NAV 
---------------------------------------------------------------- */
.card_type{
    background: linear-gradient(rgb(27, 27, 27),rgb(90, 90, 90),rgb(27, 27, 27));
}
/* ----------------------------------------------------------------
                    MAIN
---------------------------------------------------------------- */
main .content_box{
    display: flex;
}
main .content{
    flex: 1;
}
main .content_text{
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
}
main .content_img{
    text-align: center;
}
/* ----------------------------------------------------------------
                    FOOTER
---------------------------------------------------------------- */
/* ----------------------------------------------------------------
                    JS
---------------------------------------------------------------- */