/* ----------------------------------------------------------------
                    HEADER
---------------------------------------------------------------- */
/* ----------------------------------------------------------------
                    NAV 
---------------------------------------------------------------- */
.card_read{
    background: linear-gradient(rgb(27, 27, 27),rgb(90, 90, 90),rgb(27, 27, 27));
}
/* ----------------------------------------------------------------
                    MAIN
---------------------------------------------------------------- */
main{
    display: flex;
}
main ul li{
    list-style: decimal;
}
main ul li ul li{
    list-style: inside;
}
/* ----------------------------------------------------------------
                    FOOTER
---------------------------------------------------------------- */
/* ----------------------------------------------------------------
                    JS
---------------------------------------------------------------- */